Pandas Series

A pandas series is like a Column in a table
It is a One dimensional array holding data of any type

In [1]:
import pandas as pd
series=pd.Series([1,2,3,4,5])

In [2]:
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
series=pd.Series([1,2,3,4,5],index=[5,6,7,8,9])# we also pass alphabets as a Index within double quotes(each alphabet)

In [4]:
series

5    1
6    2
7    3
8    4
9    5
dtype: int64

Accessing Series Elements

In [8]:
print(series[5])#5 is an index Number

1

Pandas DataFrame

A Data Frame is a two dimensional data Structure, i.e data is aligned in a tabular fashion in rows and columns

In [13]:
data=pd.DataFrame({'Name':['Tom','Jack','Steve','Ricky','sam','Will','Root'],
                  'Age':[28,34,29,42,17,17,45]}, index=['C1','C2','C3','C4','C5','C6','C7'])

In [15]:
data.head()

     Name  Age
C1    Tom   28
C2   Jack   34
C3  Steve   29
C4  Ricky   42
C5    sam   17

Column Selection

In [14]:
data['Name']

C1      Tom
C2     Jack
C3    Steve
C4    Ricky
C5      sam
C6     Will
C7     Root
Name: Name, dtype: object

In [17]:
data['Age']

C1    28
C2    34
C3    29
C4    42
C5    17
C6    17
C7    45
Name: Age, dtype: int64

Row Selection

In [18]:
data.loc['C1','Name']

'Tom'

In [19]:
data.iloc[2,0]

'Steve'

In [20]:
data.iloc[5,1]

17