Lists - placed within square brackets 
      - Seperated by Commas

In [1]:
fruits=['Apple','Cherry','Banana']
fruits.append("orange")

In [2]:
fruits

['Apple', 'Cherry', 'Banana', 'orange']

In [4]:
fruits.sort()
fruits

['Apple', 'Banana', 'Cherry', 'orange']

In [6]:
fruits.reverse()
fruits

['orange', 'Cherry', 'Banana', 'Apple']

In [7]:
fruits.pop(1)

'Cherry'

In [9]:
fruits.insert(1,"watermelon")
fruits

['orange', 'watermelon', 'watermelon', 'Banana', 'Apple']

In [11]:
fruits.index("watermelon")
fruits

['orange', 'watermelon', 'watermelon', 'Banana', 'Apple']

In [14]:
others=["Strawberry", "pineapple","gauva","cherry"]
fruits.extend(others)
fruits

['orange',
 'watermelon',
 'watermelon',
 'Banana',
 'Apple',
 'Strawberry',
 'pineapple',
 'gauva',
 'cherry',
 'Strawberry',
 'pineapple',
 'gauva',
 'cherry']

In [16]:
fruits.count('cherry')

2

In [17]:
fruits.copy()

['orange',
 'watermelon',
 'watermelon',
 'Banana',
 'Apple',
 'Strawberry',
 'pineapple',
 'gauva',
 'cherry',
 'Strawberry',
 'pineapple',
 'gauva',
 'cherry']

In [18]:
fruits.clear()

In [19]:
fruits

[]

String 
Index starts from 0 
and Negative Index starts from -1
All string methods returns New Values

String methods
1-> capitalize()
2->.isalpha()
3->.isnumeric()
4->.isupper()
5->.split()
6->.title()
7->.strip()
8->.replace('q','a')

In [2]:
txt="hello I'm Data Science Student"
a=txt.capitalize()
print(a)

Hello i'm data science student

In [4]:
txt="hello hello Hello I'm Data Science Student"
a=txt.count("hello")#uppercase and lowercase letters are Distinct
print(a)

2

In [5]:
txt="hello hello Hello I'm Data Science Student"
a=txt.find("Hello")#uppercase and lowercase letters are Distinct
print(a)

12

In [7]:
d=txt.index('Data')
print(d)

22

In [8]:
txt="hello hello Hello I'm Data Science Student"
a=txt.split()#uppercase and lowercase letters are Distinct
print(a)

['hello', 'hello', 'Hello', "I'm", 'Data', 'Science', 'Student']

In [9]:
txt="hello hello Hello I'm Data Science Student"
a=txt.strip()#uppercase and lowercase letters are Distinct
print(a)

hello hello Hello I'm Data Science Student

In [11]:
txt="hello hello Hello I'm Data Science Student"
a=txt.split(',')#uppercase and lowercase letters are Distinct
print(a)

["hello hello Hello I'm Data Science Student"]

In [13]:
txt="Company12"
name=txt.isalnum()
print(name)

True

In [14]:
txt="CompanyX"
name=txt.isalpha()
print(name)

True

In [16]:
txt="30800"
name=txt.isdigit()
print(name)

True

In [17]:
names=["john","Peter","Vicky"]
joined="_".join(names)
print(joined)

john_Peter_Vicky

In [19]:
txt="I Love Sports"
result=txt.replace("Sports","cricket")
print(result)

I Love cricket

In [20]:
txt="Hello, welcome to my world."
start=txt.startswith("Hello")
end=txt.endswith(".")
print(start)
print(end)

True
True

Conditional Statements

-> Simple if
-> Nested if
-> if else
-> break
-> Continue

In [21]:
a,b=33,200
print(b>a)

True

In [22]:
if b>a:
    print("B is grater than A")

B is grater than A

In [23]:
aman,vinod=80,62
if vinod>aman:
    print("vinod Scores Greater Than aman")
elif aman==vinod:    
    print("Both Scores Equally")
else:
    print("aman scores greater than vinod")

aman scores greater than vinod

In [26]:
marks=45
if marks>35:
    print("He is Pass")
    if marks>60:
        print("He is in Distinction")
    else:
        print("He is in mid Range")
else:
    print("Sadly,he is Fail")

He is Pass
He is in mid Range